  
  

   body {

    background: url(images/1.jpg); 
	}
	@font-face {
    font-family: Beautiful; /* Гарнитура шрифта */
    src: url(fonts/beautiful.ttf); /* Путь к файлу со шрифтом */
	 
   }
   @font-face {
   font-family: Inter-Bold;
	src: url(fonts/Inter-Bold.otf);
	}
  
	
	
   h1 {
    font-family: Beautiful;
	top:8;
    margin-left:20px;
   }
   
   h2 {
   position: center;
    font-family: Beautiful;
	margin-left: 200px;
	top: 50%;
   }
   h3 {
   
    font-family: Beautiful;
	margin-left: 200px;
	top: 50%;
   }
   h4 {
   
    font-family: Beautiful;
	margin-left: 200px;
	top: 50%;
   }
   
#preloader_malc {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, .6);
		z-index: 99
	}

	#preloader_malc div {
		background: #fff;
		width: 260px;
		height: 40px;
		line-height: 40px;
		border-radius: 8px;
		font-family: arial;
		font-size: 15px;
		color: #111;
		text-align: center;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
		position: fixed;
		z-index: 999;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto
	}


    

  
  .news {
  
  height:641px;
  width:300px;
  border:1px solid black;
  }
  .photo { 
  display: table-header-group;
  
  height:171px;
  width:710px;
  border:1px solid black;
  position:absolute;
  top:8;
  margin-left:310px;
 

  }
  .name {
  height:85px;
  width:710px;
  border:1px solid black;
  position:absolute;
  top:184;
  
  margin-left:310px;
  }
  
  .phone_text {
  visibility: hidden;
  font-family: Beautiful;
  font-size: 1;
  }
  
  .history {
  height:374px;
  width:710px;
  border:1px solid black;
  position:absolute;
  top:275;
  margin-left:310px;
  font-family: Inter-Bold;
  font-size: 11pt;
  }
  
  .other {
  margin-left:1029px;
  height:641px;
  width:300px;
  border:1px solid black;
  position:absolute;
  top:8;
  }
  .director {
  
  height:310px;
  width:300px;
  border:1px solid black;
  position:absolute;
  
  cursor: pointer;
  }
  
   .director_photo {
  height: 218px;
    width: 193px;
    position: absolute;
    margin-left: 60px;
    top: 8px;
  }

  .fix_text {
      position: absolute;
    margin-left: 30px;
    top: 212px;
  }
  
  .fix_text2 {
  position: absolute;
    top: 230px;
    margin-left: 60px;
  }
  
  .fix_text3 {
      position: absolute;
    top: 250px;
    margin-left: 80px;
  }
  
  .fixphoto {
      position: absolute;
    height: 171px;
    width: 710px;
    top: 0px;
  }
  